<div class="form-overlay">
    <div class="form-wrapper">
        <div class="close add-edit-modal-close-btn">X</div>
        {{ form_start(healthForm) }}
            <span>Les champs suivis d'un * sont obligatoires</span>
            {{ form_row(healthForm.date) }}
            {{ form_row(healthForm.documentName) }}
            {{ form_row(healthForm.document) }}
            <span><small>1 Mo maximum, formats pdf, png, jpg ou jpeg.</small></span>
            {{ form_row(healthForm._token) }}
            {{ form_row(healthForm.submit) }}
        {{ form_end(healthForm, {render_rest: false}) }}
    </div>
</div>
    