{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Allergies de {{ cat.name }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form-type.css') }}">
    <link rel="stylesheet" href="{{ asset('css/partials/cat-menu.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-pages-shared-style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-data-pages.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-forms.css') }}">
    {{ encore_entry_link_tags('chart-css') }}
{% endblock %}

{% block body %}
<main>
    {% include 'partials/message-modal.html.twig' %}

    {% include 'partials/cat-menu.html.twig' %} 

    <section>
        <div class="card">
            <div class="card-header">
                <div class="picture">
                    <img {% if cat.picture != null %} src="{{ asset('img/upload/' ~ cat.picture) }}" alt="Photo du chat {{ cat.name }}" class ="cat-picture" {% else %} src="{{ asset('img/site/cat-portrait2.png') }}" alt="Illustration portrait de chat" class="default-cat-picture" {% endif %}>
                </div>
                <div class="cat-name">
                    <h2>{{ cat.name }}</h2>
                    <a href="{{ path('cat-health', {'id': cat.id}) }}" class="return">Retour aux soins</a>
                </div>
            </div>
            <div class="card-content card-template">
                <div class="card-title">
                    <div class="icon">
                        <img src="{{ asset('img/site/allergies.png') }}" alt="Icône d'une fleur">
                    </div>
                    <h3>Allergies</h3>
                </div>
                <span class="add-data mobile add-edit-data-btn" data-data-id="new"><img src="{{ asset('img/site/add.png') }}" alt="Icône du signe plus"></span>
                <span class="add-data desktop add-edit-data-btn" data-data-id="new">Ajouter une entrée</span>
            </div>
            <div class="card-content card-template entries last-entries">
                <h3>Dernières entrées :</h3>
                <div class="tooltip">
                    <div id="help-content" class="hide">
                        <p>Il existe différents type d’allergies connus chez le chat :</p>
                        <p>&bull; La dermatite par hypersensibilité aux piqûres de puces (DHPP ou DAPP) : les piqûres de puces provoquent assez souvent une réaction allergique chez le chat qui est alors sujet à de fortes démangeaisons qui provoquent une inflammation de la peau et peuvent entraîner des infection bactériennes ou fongiques.</p>
                        <p>&bull; L’allergie atopique : elle présente les mêmes symptômes que l’allergie aux puces mais est due, comme pour les humains, à des allergènes environnementaux (acariens, pollen, poussière, ...). Les chats atteint d’une dermatite atopique peuvent également présenter un asthme (chat qui “tousse”).</p>
                        <p>&bull; L’allergie alimentaire : comme son nom l’indique, elle est provoquée par un aliment ingéré par le chat. Elle se manifeste le plus souvent par des démangeaisons de la peau provoquant un grattage excessif, une perte de poils ou encore une dermatite, ainsi que de la diarrhée et des vomissements.</p>
                        <p>&bull; L’allergie de contact : elle est assez simple à identifier car l’organisme réagit instantanément après contact avec l’allergène. Il peut s’agir d’un produit ménager, d’une matière (attention au plastique des gamelles, préférez de la céramique) ou encore un parasite.</p>
                        <p>Pour toutes ces allergies les symptômes les plus courants sont les suivants :</p>
                        <p>&bull; Fortes démangeaisons</p>
                        <p>&bull; Perte de poils (alopécie)</p>
                        <p>&bull; Troubles gastro-intestinaux (nausée, vomissements, diarrhée)</p>
                        <p>&bull; Infections secondaires bactériennes (inflammations de la peau et d’autres organes)</p>
                        <p>&bull; Asthme allergique et choc anaphylactique</p>
                    </div>
                    <div id="help-icon">
                        <img src="{{ asset('img/site/help-purple.png') }}" alt="Icône d'aide" id="help-purple" class="show">
                        <img src="{{ asset('img/site/help-white.png') }}" alt="Icône d'aide" id="help-white" class="hide">
                    </div>
                </div> 
                {% for health in paginatedHealths %}                
                <div class="entry entry--notes card-template">
                    <div class="entry-info data--notes">
                        <p class="entry-info date data--variation">
                            <span>Du : <em>{{ health.date|format_datetime(locale='fr', pattern="dd MMM Y")}}</em></span>
                            <span>Au : <em>{% if health.endDate is not null %}{{ health.endDate|format_datetime(locale='fr', pattern="dd MMM Y")}}{% else %}
                                ...{% endif %}</em></span>
                        </p>
                        <div>
                            <div class="mobile-options">
                                <span class="edit-data add-edit-data-btn" data-data-id="{{ health.id }}"><img src="{{ asset('img/site/edit.png') }}" alt="Icône d'un crayon"></span>
                                <span class="delete-data delete-data-btn" data-data-id="{{ health.id }}"><img src="{{ asset('img/site/delete.png') }}" alt="Icône d'une poubelle"></span>
                            </div>
                            <div class="desktop-options">
                                <span class="update-info desktop modify add-edit-data-btn" data-data-id="{{ health.id }}">Modifier</span>
                                <span class="update-info desktop delete delete-data-btn" data-data-id="{{ health.id }}">Supprimer</span>
                            </div>
                        </div>
                    </div>
                    <div class="entry-info data--details">
                        <p>Type d'allergie : <em  class="data">{{ health.allergy|capitalize }}</em></p>
                        <p>Détails : <em class="data">{{ health.details|capitalize }}</em></p>
                    </div>
                </div>
                <div id="edit-{{ health.id }}"class="add-edit-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatHealthController::editAllergy',
                        { 'catId': cat.id, 'healthId': health.id }
                    ))}}
                </div>
                <div id="delete-{{ health.id }}"class="delete-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatHealthController::deleteHealth',
                        { 'catId': cat.id, 'healthId': health.id }
                    ))}}
                </div>
                {% endfor %}
                {{ knp_pagination_render(paginatedHealths) }}
            </div>
        </div>
    </section>
    <div id="edit-new" class="add-edit-data-form">
        {{ render(controller(
            'App\\Controller\\CatHealthController::addAllergy',
            { 'id': cat.id }
        ))}}
    </div>
</main>
<script type="text/javascript" src="{{ asset('js/cat-interface/cat-care-pages.js') }}"></script>
{{ encore_entry_script_tags('chart-js') }}
{% endblock %}