{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Maladies de {{ cat.name }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form-type.css') }}">
    <link rel="stylesheet" href="{{ asset('css/partials/cat-menu.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-pages-shared-style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-data-pages.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-forms.css') }}">
    {{ encore_entry_link_tags('chart-css') }}
{% endblock %}

{% block body %}
<main>
    {% include 'partials/message-modal.html.twig' %}

    {% include 'partials/cat-menu.html.twig' %} 

    <section>
        <div class="card">
            <div class="card-header">
                <div class="picture">
                    <img {% if cat.picture != null %} src="{{ asset('img/upload/' ~ cat.picture) }}" alt="Photo du chat {{ cat.name }}" class ="cat-picture" {% else %} src="{{ asset('img/site/cat-portrait2.png') }}" alt="Illustration portrait de chat" class="default-cat-picture" {% endif %}>
                </div>
                <div class="cat-name">
                    <h2>{{ cat.name }}</h2>
                    <a href="{{ path('cat-health', {'id': cat.id}) }}" class="return">Retour à la santé</a>
                </div>
            </div>
            <div class="card-content card-template">
                <div class="card-title">
                    <div class="icon">
                        <img src="{{ asset('img/site/virus.png') }}" alt="Icône de virus">
                    </div>
                    <h3>Maladies</h3>
                </div>
                <span class="add-data mobile add-edit-data-btn" data-data-id="new"><img src="{{ asset('img/site/add.png') }}" alt="Icône du signe plus"></span>
                <span class="add-data desktop add-edit-data-btn" data-data-id="new">Ajouter une entrée</span>
            </div>
            <div class="card-content card-template entries last-entries">
                <h3>Dernières entrées :</h3>
                <div class="tooltip">
                    <div id="help-content" class="hide">
                        <p>Il est souvent difficile de déceler un problème chez son chat. Les premiers signes d’une maladie sont souvent peu perceptibles, d’autant que le chat a tendance à les cacher. Il faut donc être attentif et bien connaître son chat pour détecter les petits changements qui apparaissent quand celui-ci est malade. </p>
                        <p>Ceux-ci peuvent se manifester de différentes façon :</p>
                        <p>&bull; Changement de comportement : un changement subit dans ses habitudes doit vous alerter. Un chat habituellement câlin qui se cache, un chat actif qui devient léthargique, ... De manière générale, un chat prostré est un signal d’alarme.</p>
                        <p>&bull; Changement alimentaire et déshydratation : il faut faire attention à la prise de nourriture et d’eau. Un chat qui refuse toute nourriture ou au contraire mange excessivement de façon subite sont deux attitudes à prendre en considération. Un chat qui ne boit plus depuis plus de 10 heures souffre de déshydratation et doit être rapidement emmené chez un vétérinaire. Pour détecter la déshydratation, faites un pli de peau avec vos doigts entre les omoplates de votre chat. Si, lorsque vous la lâchez, la peau ne revient pas immédiatement en place, votre chat est déshydraté.</p>
                        <p>&bull; Changement d’attitude face à sa litière : un chat qui ne va plus à la litière ou qui y va trop ou qui n’a pas le temps d’y parvenir et fait ses besoins à côté sont autant de signes suspects. De même, une apparence anormale de ses selles et de son urine (texture, présence de sang, mucus, odeurs particulières, ...) doivent vous alerter. Un nettoyage quotidien de la litière permet de remarquer plus rapidement ces signes.</p>
                        <p>&bull; Changement de température : La température d’un chat se situe entre 38°C et 39,2°C. Des températures supérieures à 40°C ou inférieures à 37.5°C sont alarmantes et doivent vous amener chez votre vétérinaire.</p>
                        <p>&bull; Changement d’apparence : un chat malade peut avoir les poils emmêlés, secs ou huileux. Il peut perdre ses poils et ne plus faire sa toilette. Nez qui coule, toux, yeux rouges et/ou qui coulent, 3ème paupière visible, muqueuses pâles ou jaunes, vomissements, diarrhée, prise ou perte de poids sont autant de signes de maladie.</p>
                        <p>Il est important de noter tout ce qui vous semble suspect afin de le rapporter à votre vétérinaire qui s’en servira pour son diagnostic. Au moindre doute, contactez-le pour lui demander conseil.</p>
                    </div>
                    <div id="help-icon">
                        <img src="{{ asset('img/site/help-purple.png') }}" alt="Icône d'aide" id="help-purple" class="show">
                        <img src="{{ asset('img/site/help-white.png') }}" alt="Icône d'aide" id="help-white" class="hide">
                    </div>
                </div> 
                {% for health in paginatedHealths %}                
                <div class="entry entry--notes card-template">
                    <div class="entry-info data--notes">
                        <p class="entry-info date data--variation">
                            <span>Du : <em>{{ health.date|format_datetime(locale='fr', pattern="dd MMM Y")}}</em></span>
                            <span>Au : <em>{% if health.endDate is not null %}{{ health.endDate|format_datetime(locale='fr', pattern="dd MMM Y")}}{% else %}
                                ...{% endif %}</em></span>
                        </p>
                        <div>
                            <div class="mobile-options">
                                <span class="edit-data add-edit-data-btn" data-data-id="{{ health.id }}"><img src="{{ asset('img/site/edit.png') }}" alt="Icône d'un crayon"></span>
                                <span class="delete-data delete-data-btn" data-data-id="{{ health.id }}"><img src="{{ asset('img/site/delete.png') }}" alt="Icône d'une poubelle"></span>
                            </div>
                            <div class="desktop-options">
                                <span class="update-info desktop modify add-edit-data-btn" data-data-id="{{ health.id }}">Modifier</span>
                                <span class="update-info desktop delete delete-data-btn" data-data-id="{{ health.id }}">Supprimer</span>
                            </div>
                        </div>
                    </div>
                    <div class="entry-info data--details">
                        <p>Nom de la maladie : <em  class="data">{{ health.disease|capitalize }}</em></p>
                        <p>Détails : <em class="data">{{ health.details|capitalize }}</em></p>
                    </div>
                </div>
                <div id="edit-{{ health.id }}"class="add-edit-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatHealthController::editDisease',
                        { 'catId': cat.id, 'healthId': health.id }
                    ))}}
                </div>
                <div id="delete-{{ health.id }}"class="delete-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatHealthController::deleteHealth',
                        { 'catId': cat.id, 'healthId': health.id }
                    ))}}
                </div>
                {% endfor %}
                {{ knp_pagination_render(paginatedHealths) }}
            </div>
        </div>
    </section>
    <div id="edit-new" class="add-edit-data-form">
        {{ render(controller(
            'App\\Controller\\CatHealthController::addDisease',
            { 'id': cat.id }
        ))}}
    </div>
</main>
<script type="text/javascript" src="{{ asset('js/cat-interface/cat-care-pages.js') }}"></script>
{{ encore_entry_script_tags('chart-js') }}
{% endblock %}