<div class="form-overlay">
    <div class="form-wrapper">
        <div class="close add-edit-modal-close-btn">X</div>
        {{ form_start(petCareForm) }}
            <span>Les champs suivis d'un * sont obligatoires</span>
            {{ form_row(petCareForm.date) }}
            <div>
                <div class="notes-label">
                    {{ form_label(petCareForm.notes) }} 
                    <span class="notes-counter"></span>
                </div>
                {{ form_widget(petCareForm.notes, { 'attr': {'class': 'notes-input', 'maxlength': "2000"} }) }}
            </div>  
            {{ form_row(petCareForm._token) }}
            {{ form_row(petCareForm.submit) }}
        {{ form_end(petCareForm, {render_rest: false}) }}
    </div>
</div>
    