<div class="form-overlay">
    <div class="form-wrapper">
        <div class="close add-edit-modal-close-btn">X</div>
        {{ form_start(petCareForm) }}
            {{ form_row(petCareForm.date) }}
            {{ form_row(petCareForm._token) }}
            {{ form_row(petCareForm.submit) }}
        {{ form_end(petCareForm, {render_rest: false}) }}
    </div>
</div>
    