{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Notes de {{ cat.name }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form-type.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/partials/cat-menu.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-pages-shared-style.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-data-pages.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-forms.min.css') }}">
{% endblock %}

{% block body %}
<main>
    {% include 'partials/message-modal.html.twig' %}

    {% include 'partials/cat-menu.html.twig' %} 

    <section>
        <div class="card">
            <div class="card-header">
                <div class="picture">
                    <img {% if cat.picture != null %} src="{{ asset('img/upload/' ~ cat.picture) }}" alt="Photo du chat {{ cat.name }}" class ="cat-picture" {% else %} src="{{ asset('img/site/cat-portrait2.png') }}" alt="Illustration portrait de chat" class="default-cat-picture" {% endif %}>
                </div>
                <div class="cat-name">
                    <h2>{{ cat.name }}</h2>
                    <a href="
                        {% if is_granted('ROLE_USER') %}
                            {{ path('cat-petCare', {'id': cat.id}) }}
                        {% elseif is_granted("ROLE_GUEST") %}
                            {{ path('veterinary-cat-petCare', {'id': cat.id}) }}
                        {% endif %}
                        " class="return">
                        <img src="{{ asset('img/site/arrow2.png') }}" alt="Icône de flèche de retour">
                        Retour à l'entretien
                    </a>
                </div>
            </div>
            <div class="card-content card-template">
                <div class="card-title">
                    <div class="icon">
                        <img src="{{ asset('img/site/notes.png') }}" alt="Icône de carnet de notes">
                    </div>
                    <h3>Notes</h3>
                </div>
                {% if is_granted('ROLE_USER') %}
                <span class="add-data mobile add-edit-data-btn" data-data-id="new"><img src="{{ asset('img/site/add.png') }}" alt="Icône du signe plus" title="Ajouter une entrée"></span>
                <span class="add-data desktop add-edit-data-btn" data-data-id="new">Ajouter une entrée</span>
                {% endif %}
            </div>
            <div class="card-content card-template entries last-entries">
                <h3 id="last-entries">Dernières entrées :</h3>
                <div class="tooltip">
                    <div id="help-content" class="hide">
                        <p>Ici vous pouvez prendre toute sorte de notes sur l’entretien et les soins apportés à votre chat, ainsi que des évènements particuliers le concernant, comme par exemple noter s’il a des vomissements, des diarrhées, s’il a mangé quelque chose qu’il n’aurait pas dû et qu’il faut le surveiller, etc ...</p>
                    </div>
                    <div id="help-icon">
                        <img src="{{ asset('img/site/help-purple.png') }}" alt="Icône d'aide" Title="Astuces" id="help-purple" class="show">
                        <img src="{{ asset('img/site/help-white.png') }}" alt="Icône d'aide" Title="Astuces" id="help-white" class="hide">
                    </div>
                </div> 
                {% for petCare in paginatedPetCares %}                
                <div class="entry entry--notes card-template">
                    <div class="entry-info data--notes">
                        <p class="date">
                            <span>{{ petCare.date|format_datetime(locale='fr', pattern="dd MMM Y")}}</span>
                        </p>
                        {% if is_granted('ROLE_USER') %}
                        <div>
                            <div class="mobile-options">
                                <span class="edit-data add-edit-data-btn" data-data-id="{{ petCare.id }}"><img src="{{ asset('img/site/edit.png') }}" alt="Icône d'un crayon" title="Modifier l'entrée"></span>
                                <span class="delete-data delete-data-btn" data-data-id="{{ petCare.id }}"><img src="{{ asset('img/site/delete.png') }}" alt="Icône d'une poubelle" title="Supprimer l'entrée"></span>
                            </div>
                            <div class="desktop-options">
                                <span class="update-info desktop modify add-edit-data-btn" data-data-id="{{ petCare.id }}">Modifier</span>
                                <span class="update-info desktop delete delete-data-btn" data-data-id="{{ petCare.id }}">Supprimer</span>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                    <div class="entry-info data--notes">
                        <p class="data data--notes">{{ petCare.notes|nl2br }}</p>
                    </div>
                </div>
                {% if is_granted('ROLE_USER') %}
                <div id="edit-{{ petCare.id }}"class="add-edit-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatPetCareController::editNotes',
                        { 'catId': cat.id, 'petCareId': petCare.id }
                    ))}}
                </div>
                <div id="delete-{{ petCare.id }}"class="delete-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatPetCareController::deletePetCare',
                        { 'catId': cat.id, 'petCareId': petCare.id }
                    ))}}
                </div>
                {% endif %}
                {% endfor %}
                {{ knp_pagination_render(paginatedPetCares) }}
            </div>
        </div>
    </section>
    {% if is_granted('ROLE_USER') %}
    <div id="edit-new" class="add-edit-data-form">
        {{ render(controller(
            'App\\Controller\\CatPetCareController::addNotes',
            { 'id': cat.id }
        ))}}
    </div>
    {% endif %}
</main>
<script type="text/javascript" src="{{ asset('js/cat-interface/cat-care-pages.min.js') }}"></script>
{% endblock %}