{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Griffes de {{ cat.name }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form-type.css') }}">
    <link rel="stylesheet" href="{{ asset('css/partials/cat-menu.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-data-pages.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-pages-shared-style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-forms.css') }}">
    {{ encore_entry_link_tags('chart-css') }}
{% endblock %}

{% block body %}
<main>
    {% include 'partials/message-modal.html.twig' %}

    {% include 'partials/cat-menu.html.twig' %} 

    <section>
        <div class="card">
            <div class="card-header">
                <div class="picture">
                    <img {% if cat.picture != null %} src="{{ asset('img/upload/' ~ cat.picture) }}" alt="Photo du chat {{ cat.name }}" class ="cat-picture" {% else %} src="{{ asset('img/site/cat-portrait2.png') }}" alt="Illustration portrait de chat" class="default-cat-picture" {% endif %}>
                </div>
                <div class="cat-name">
                    <h2>{{ cat.name }}</h2>
                    <a href="{{ path('cat-petCare', {'id': cat.id}) }}" class="return">Retour à l'entretien</a>
                </div>
            </div>
            <div class="card-content card-template">
                <div class="card-title">
                    <div class="icon">
                        <img src="{{ asset('img/site/claws.png') }}" alt="Icône de patte de chat">
                    </div>
                    <h3>Griffes</h3>
                </div>
                <span class="add-data mobile add-edit-data-btn" data-data-id="new"><img src="{{ asset('img/site/add.png') }}" alt="Icône du signe plus"></span>
                <span class="add-data desktop add-edit-data-btn" data-data-id="new">Ajouter une entrée</span>
            </div>
            <div class="card-content card-template entries last-entries">
                <h3>Dernières entrées :</h3>
                <div class="tooltip">
                    <div id="help-content" class="hide">
                        <p>En général, il n'est pas nécéssaire de couper les griffes de votre chat, mais cela dépend de son mode de vie.</p>
                        <p>Si c'est un chat d'extérieur, ses griffes lui sont indispensables pour se défendre, chasser et grimper. Vous ne devez donc pas les lui couper, elles s'usent naturellement.</p>
                        <p>En revanche, si c'est un chat d'intérieur, il faut surveiller leur longueur régulièrement et les lui couper si elles dépassent une certaine taille.</p>
                        <p>En effet, une griffe peu pousser au point de se recourber complètement et de pénétrer dans le coussinet, pouvant ainsi entrainer une infection.</p>
                        <p>Le chat possède 5 griffes sur les pattes avant et 4 sur les pattes arrières.</p>
                        <p>Vous pouvez utiliser un coupe-griffe ou un solide coupe-ongle.</p>
                        <p>Appuyez légèrement sur le doigt pour faire sortir la griffe et coupez quelques millimètres sans dépasser la partie transparente. Attention à ne pas couper dans la pulpe !</p>
                        <p>Si votre chat n'est pas du genre à se laisser faire, demandez de l'aide à quelqu'un ou enroulez-le dans une serviette pour l'immobiliser.</p>
                        <p>Enfin, pour lui permettre d'entretenir lui-même ses griffes, fournissez lui un arbre à chat ou tout autre objet adapté.</p>
                    </div>
                    <div id="help-icon">
                        <img src="{{ asset('img/site/help-purple.png') }}" alt="Icône d'aide" id="help-purple" class="show">
                        <img src="{{ asset('img/site/help-white.png') }}" alt="Icône d'aide" id="help-white" class="hide">
                    </div>
                </div> 
                {% for petCare in paginatedPetCares %}                
                <div class="entry card-template">
                    <div class="entry-info">
                        <p class="date">
                            <span>{{ petCare.date|date('d') }}</span>
                            <span>{{ petCare.date|format_datetime(locale='fr', pattern="MMM") }}</span>
                            <span>{{ petCare.date|date('Y') }}</span>
                        </p>
                        <p class="data">{% if petCare.claws == true %}Griffes{% endif %}</p>
                    </div>
                    <div>
                        <div class="mobile-options">
                            <span class="edit-data add-edit-data-btn" data-data-id="{{ petCare.id }}"><img src="{{ asset('img/site/edit.png') }}" alt="Icône d'un crayon"></span>
                            <span class="delete-data delete-data-btn" data-data-id="{{ petCare.id }}"><img src="{{ asset('img/site/delete.png') }}" alt="Icône d'une poubelle"></span>
                        </div>
                        <div class="desktop-options">
                            <span class="update-info desktop modify add-edit-data-btn" data-data-id="{{ petCare.id }}">Modifier</span>
                            <span class="update-info desktop delete delete-data-btn" data-data-id="{{ petCare.id }}">Supprimer</span>
                        </div>
                    </div>
                </div>
                <div id="edit-{{ petCare.id }}"class="add-edit-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatPetCareController::editClaws',
                        { 'catId': cat.id, 'petCareId': petCare.id }
                    ))}}
                </div>
                <div id="delete-{{ petCare.id }}"class="delete-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatPetCareController::deletePetCare',
                        { 'catId': cat.id, 'petCareId': petCare.id }
                    ))}}
                </div>
                {% endfor %}
                {{ knp_pagination_render(paginatedPetCares) }}
            </div>
        </div>
    </section>
    <div id="edit-new" class="add-edit-data-form">
        {{ render(controller(
            'App\\Controller\\CatPetCareController::addClaws',
            { 'id': cat.id }
        ))}}
    </div>
</main>
<script type="text/javascript" src="{{ asset('js/cat-interface/cat-care-pages.js') }}"></script>
{{ encore_entry_script_tags('chart-js') }}
{% endblock %}