<div class="form-overlay">
    <div class="form-wrapper">
        <h2>Modifier votre mot de passe</h2>
        <div class="close">X</div>
        {{ form_start(passwordForm) }}
            <span>Les champs suivis d'un * sont obligatoires</span>
            {{ form_row(passwordForm.old_password) }}
            {{ form_row(passwordForm.password.first) }}
            {{ form_row(passwordForm.password.second) }}
            {{ form_row(passwordForm.submit) }}
        {{ form_end(passwordForm) }}
    </div>
</div>