<div class="form-overlay">
    <div class="form-wrapper">
    <h2>Modifier votre email</h2>
    <div class="close">X</div>
    {{ form_start(emailForm) }}
        {{ form_row(emailForm.email) }}
        {{ form_row(emailForm.confirm_password) }}
        {{ form_row(emailForm.submit) }}
    {{ form_end(emailForm) }}
    </div>
</div>