{% set route_name = app.request.attributes.get('_route') %}

{% block nav %}
    <header>
        <div class="logo">
            <a href="{{ path('homepage') }}" >
                <img src="{{ asset('img/site/cat-logo.png') }}" alt="Illustration d'un chat contenant un coeur lumineux">
                <h1>Le Charnet de Santé</h1>
            </a>
        </div>
        {% if is_granted("ROLE_USER") %}
        <div class="desktop-auth">
            <a href="{{ path('user-interface') }}">
                <div class="user-avatar">
                    <img src="{{ asset('img/site/cat-portrait.png') }}" alt="Illustration portrait de chat">
                </div>
                <h2>Bienvenue {{ app.user.username }}</h2>
            </a>
        </div>
        {% endif %} 
        <nav>
            {% if is_granted("ROLE_USER") %}
            <div class="mobile-menu">
                <div class="burger-button" id="burger-btn">
                    <div class="bar1"></div>
                    <div class="bar2"></div>
                    <div class="bar3"></div>
                </div>
                <ul class="burger-nav">
                    <div class="long-line"></div>
                    <li class="mobile-auth">
                        <a href="{{ path('user-interface') }}">
                            <div class="user-avatar">
                                <img src="{{ asset('img/site/cat-portrait.png') }}" alt="Illustration portrait de chat">
                            </div>
                            <h2>Bienvenue {{ app.user.username }}</h2>
                        </a>
                    </li>
                    <div class="long-line"></div>
                    <li {% if route_name == 'user-profil' %} class="active"{% endif %}><a href="">Mon Profil</a></li>
                    <div class="line"></div>
                    <li {% if route_name == 'cat-list' %} class="active"{% endif %}><a href="">Mes Chats</a></li>
                    <div class="line"></div>
                    <li {% if route_name == 'help' %} class="active"{% endif %}><a href="{{ path('help') }}">Mode d'emploi</a></li>
                    <div class="line"></div>
                    <li {% if route_name == 'logout' %} class="active"{% endif %}><a href="{{ path('logout') }}">Déconnexion</a></li>
                    <div class="line"></div>
                </ul>
            </div>
            {% else %}
            <ul class="default-nav">
                <li class="login-btn"><a href="{{ path('login') }}">Connexion</a></li>
                <li class="register"><a href="{{ path('registration') }}">Inscription</a></li>
            </ul>
            {% endif %} 
        </nav>
    </header>
{% endblock %}