{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Fiche de {{ cat.name }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form-type.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-detail.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/partials/cat-menu.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/cropper.min.css') }}">
{% endblock %}

{% block body %}
<main>

    {% include 'partials/message-modal.html.twig' %}

    <div>
        {{ render(controller(
            'App\\Controller\\GuestSecurityController::codeGenerator',
            { 'catId': cat.id }
        ))}}
    </div>
 
    {% include 'partials/cat-menu.html.twig' %} 
    <section>
        <div class="cat-card">
            <h2>{{ cat.name }}</h2>
            <div class="card-content">
                <div class="cat-info-wrapper">
                    <div class="card-picture card-template">
                        <div class="avatar">
                            <img {% if cat.picture != null %} src="{{ asset('img/upload/' ~ cat.picture) }}" alt="Photo du chat {{ cat.name }}" class ="cat-picture" {% else %} src="{{ asset('img/site/cat-portrait2.png') }}" alt="Illustration portrait de chat" class="default-cat-picture" {% endif %}>
                        </div>
                        <span id="edit-picture">Changer la photo</span>
                    </div>
                    <div class="cat-info card-template">
                        <div class="info-label">
                            <h3>Infos :</h3>
                            <a href="{{ path('edit-cat-info', {'id': cat.id}) }}" class="update-info modify">Modifier</a>
                        </div>
                        <p>Date de naissance : {% if cat.dateOfBirth is not null %}<span class="data">{{ cat.dateOfBirth|date('d-m-Y') }}{% endif %}</span></p>
                        <p>Date de décès : <span class="data">{% if cat.dateOfDeath is not null %}{{ cat.dateOfDeath|date('d-m-Y') }}{% endif %}</span></p>
                        <p>Sexe : <span class="data">{% if cat.sexe == 'F' %} Femelle {% elseif cat.sexe == 'M' %} Mâle {% else %} {% endif %}</span></p>
                        <p>Stérilisé : <span class="data">{% if cat.isSterilized is null %} {% elseif cat.isSterilized == true %} Oui {% else %} Non {% endif %}</span></p>
                        <p>Race : <span class="data">{{ cat.race|capitalize }}</span> </p>
                        <p>Robe : <span class="data">{{ cat.coat|capitalize }}</span> </p>
                        <p>Puce électronique : <span class="data">{{ microchip }}</span></p>
                        <p>Tatouage : <span class="data">{{ cat.tattoo }}</span></p>
                    </div>
                </div>
                <div class="bottom-card-content">
                    <div class="human-info card-template">
                        <div class="info-label">
                            <h3>Propriétaire :</h3>
                            <a href="{{ path('edit-cat-owner-address', {'id': cat.id}) }}" class="update-info modify">Modifier</a>
                        </div>
                        <p {% if cat.ownerName is null %} class="hidden" {% endif %}>{{ cat.ownerName }}</p>
                        {% if cat.ownerAddress[0]|default %}
                            <p {% if cat.ownerAddress[0].address1 is null %} class="hidden" {% endif %}>{{ cat.ownerAddress[0].address1 }}</p>
                            <p {% if cat.ownerAddress[0].address2 is null %} class="hidden" {% endif %}>{{ cat.ownerAddress[0].address2 }}</p>
                            <p {% if (cat.ownerAddress[0].postalCode is null) and (cat.ownerAddress[0].city is null) %} class="hidden" {% endif %}>{{ cat.ownerAddress[0].postalCode }} {{ cat.ownerAddress[0].city }}</p>
                            <p {% if ownerPhone is empty %} class="hidden" {% endif %}>{{ ownerPhone }}</p>
                            <p {% if cat.ownerAddress[0].email is null %} class="hidden" {% endif %}>{{ cat.ownerAddress[0].email }}</p>
                        {% endif %}
                    </div>
                    <div class="human-info card-template">
                        <div class="info-label">
                            <h3>Vétérinaire :</h3>
                            <a href="{{ path('edit-cat-veterinary-address', {'id': cat.id}) }}" class="update-info modify">Modifier</a>
                        </div>
                        <p {% if cat.veterinaryName is null %} class="hidden" {% endif %}>{{ cat.veterinaryName }}</p>
                        {% if cat.veterinaryAddress[0]|default %}
                            <p {% if cat.veterinaryAddress[0].address1 is null %} class="hidden" {% endif %}>{{ cat.veterinaryAddress[0].address1 }}</p>
                            <p {% if cat.veterinaryAddress[0].address2 is null %} class="hidden" {% endif %}>{{ cat.veterinaryAddress[0].address2 }}</p>
                            <p {% if (cat.veterinaryAddress[0].postalCode is null) and (cat.veterinaryAddress[0].city is null) %} class="hidden" {% endif %}>{{ cat.veterinaryAddress[0].postalCode }} {{ cat.veterinaryAddress[0].city }}</p>
                            <p {% if veterinaryPhone is empty %} class="hidden" {% endif %}>{{ veterinaryPhone }}</p>
                            <p {% if cat.veterinaryAddress[0].email is null %} class="hidden" {% endif %}>{{ cat.veterinaryAddress[0].email }}</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <span id="delete-data-btn" class="update-info delete">Supprimer le chat</span>
            <a href="{{ path('cat-list') }}" class="return-btn">Retour</a>
        </div>
    </section>
    <div id="edit-picture-form">
        {{ render(controller(
            'App\\Controller\\CatController::editCatPicture'
        ))}}
    </div>
    <div id="delete-data-form">
        {{ render(controller(
            'App\\Controller\\CatController::deleteCat',
            { 'catId': cat.id }
        ))}}
    </div>
</main>
<script>
    const catId = {{ cat.id }};
</script>
<script type="text/javascript" src="{{ asset('js/cat-interface/cat-detail.js') }}"></script>
{{ encore_entry_script_tags('cat-cropper') }}
{{ encore_entry_script_tags('authenticator') }}

{% endblock %}
