{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Votre espace personnel{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user-interface/user-interface.css') }}" >
{% endblock %}

{% block body %}

    <main>
        <section>
            <div class="item">
                <a href="{{ path('user-account') }}">
                    <img src="{{ asset('img/site/cat-head.png') }}" alt="Illustration de tête de chat indiquant un accès au profil">
                    <span>Mon Compte</span>
                </a>
                <p>Accéder à mon profil et modifier mes données</p>
            </div>
            <div class="item"> 
                <a href="">
                    <img src="{{ asset('img/site/cat-head.png') }}" alt="Illustration de tête de chat indiquant un accès à la liste des chats">
                    <span>Mes Chats</span>
                </a>
                <p>Ajouter un chat ou des informations le concernant</p>
            </div>
            <div class="item">
                <a href="{{ path('help') }}">
                    <img src="{{ asset('img/site/cat-head.png') }}" alt="Illustration de tête de chat indiquant un accès au mode d'emploi du site">
                    <span>Mode d'emploi</span>
                </a>
                <p>Fonctionnement du site et F.A.Q</p>
            </div>
        </section>
    </main>

{% endblock %}