{% extends "base.html.twig" %}

{% block title %}Aide et F.A.Q{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/homepage/help.css">
{% endblock %}

{% block body %}
    <section>
        <h2>MODE D'EMPLOI</h2>
        <div class="articles">
            <article id="chart" >
                <div class="article-header">
                    <div class="functionnality">
                        <div class="icon">
                            <img src="{{ asset('img/site/chart.png') }}" alt="Icône de graphique">
                        </div>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                    <div class="arrow"></div>
                </div>
                <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto beatae velit non omnis molestiae eaque saepe possimus, provident repellendus mollitia culpa aspernatur quos enim minus a facere tenetur aperiam pariatur.</p>
            </article>
            <article id="heart">
                <div class="article-header">
                    <div class="functionnality">
                        <div class="icon">
                            <img src="{{ asset('img/site/heart.png') }}" alt="Icône de graphique">
                        </div>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                    <div class="arrow"></div>
                </div>
                <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto beatae velit non omnis molestiae eaque saepe possimus, provident repellendus mollitia culpa aspernatur quos enim minus a facere tenetur aperiam pariatur.</p>
            </article>
            <article id="food">
                <div class="article-header">
                    <div class="functionnality">
                        <div class="icon">
                            <img src="{{ asset('img/site/food.png') }}" alt="Icône de graphique">
                        </div>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                    <div class="arrow"></div>
                </div>
                <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto beatae velit non omnis molestiae eaque saepe possimus, provident repellendus mollitia culpa aspernatur quos enim minus a facere tenetur aperiam pariatur.</p>
            </article>
            <article id="files">
                <div class="article-header">
                    <div class="functionnality">
                        <div class="icon">
                            <img src="{{ asset('img/site/files.png') }}" alt="Icône de graphique">
                        </div>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                    <div class="arrow"></div>
                </div>
                <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto beatae velit non omnis molestiae eaque saepe possimus, provident repellendus mollitia culpa aspernatur quos enim minus a facere tenetur aperiam pariatur.</p>
            </article>
            <article id="notification">
                <div class="article-header">
                    <div class="functionnality">
                        <div class="icon">
                            <img src="{{ asset('img/site/notification.png') }}" alt="Icône de graphique">
                        </div>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                    <div class="arrow"></div>
                </div>
                <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto beatae velit non omnis molestiae eaque saepe possimus, provident repellendus mollitia culpa aspernatur quos enim minus a facere tenetur aperiam pariatur.</p>
            </article>
            <article id="share">
                <div class="article-header">
                    <div class="functionnality">
                        <div class="icon">
                            <img src="{{ asset('img/site/share.png') }}" alt="Icône de graphique">
                        </div>
                        <h3>Lorem ipsum dolor sit amet</h3>
                    </div>
                    <div class="arrow"></div>
                </div>
                <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto beatae velit non omnis molestiae eaque saepe possimus, provident repellendus mollitia culpa aspernatur quos enim minus a facere tenetur aperiam pariatur.</p>
            </article>
        </div>
    </section>
    <section>
        <h2>F.A.Q</h2>
        <div class="articles">
            <article>
                <div class="article-header">
                    <div >
                        <h3>Lorem ipsum dolor sit amet ?</h3>
                    </div>
                    <div class="arrow"></div>
                </div>
                <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto beatae velit non omnis molestiae eaque saepe possimus, provident repellendus mollitia culpa aspernatur quos enim minus a facere tenetur aperiam pariatur.</p>
            </article>
            <article>
                <div class="article-header">
                    <div >
                        <h3>Lorem ipsum dolor sit amet ?</h3>
                    </div>
                    <div class="arrow"></div>
                </div>
                <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto beatae velit non omnis molestiae eaque saepe possimus, provident repellendus mollitia culpa aspernatur quos enim minus a facere tenetur aperiam pariatur.</p>
            </article>
            <article>
                <div class="article-header">
                    <div >
                        <h3>Lorem ipsum dolor sit amet ?</h3>
                    </div>
                    <div class="arrow"></div>
                </div>
                <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto beatae velit non omnis molestiae eaque saepe possimus, provident repellendus mollitia culpa aspernatur quos enim minus a facere tenetur aperiam pariatur.</p>
            </article>
            <article>
                <div class="article-header">
                    <div >
                        <h3>Lorem ipsum dolor sit amet ?</h3>
                    </div>
                    <div class="arrow"></div>
                </div>
                <p class="article-content">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iusto beatae velit non omnis molestiae eaque saepe possimus, provident repellendus mollitia culpa aspernatur quos enim minus a facere tenetur aperiam pariatur.</p>
            </article>
        </div>
    </section>

    <script src="{{ asset('js/homepage/help.js') }}"></script>

{% endblock %}