{% extends "base.html.twig" %}

{% block title %}Le Charnet de Santé - Aide et F.A.Q{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="css/homepage/help.min.css">
{% endblock %}

{% block body %}
    <main>
        <section>
            <h2>MODE D'EMPLOI</h2>
            <div class="articles">
                <article>
                    <div class="article-header">
                        <div class="functionnality">
                            <div class="icon">
                                <img src="{{ asset('img/site/notes.png') }}" width="54" height="54" 
                                alt="Icône de carnet de note">
                            </div>
                            <h3>Fiche de renseignements</h3>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div class="article-content">
                        <p>Lorsque vous enregistrez un chat, vous êtes invité à remplir une fiche de renseignements le concernant.</p>
                        <p>Sa date de naissance, son sexe, s'il est stérilisé ou non, sa race, la couleur de sa robe ainsi que son numéro de puce électronique ou de tatouage.</p>
                        <p>Vous pouvez également y indiquer les coordonnées de son vétérinaire traitant ainsi que celles de son propriétaire et enregistrer sa photo.</p>  
                    </div>
                </article>
                <article>
                    <div class="article-header">
                        <div class="functionnality">
                            <div class="icon">
                                <img src="{{ asset('img/site/measure.png') }}" width="54" height="54" 
                                 alt="Icône de mètre ruban">
                            </div>
                            <h3>Prise et suivi de mesures</h3>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div class="article-content">
                        <p>Vous pouvez y noter le poids et la température de votre chat (en cas de nécessité, lors d'une maladie par exemple) et en suivre l'évolution sur un graphique.</p>
                        <p>En cas d'animal reproducteur ou non stérilisé, vous pouvez également y noter les périodes de chaleurs et s'il y a accouplement et fécondation.</p>
                    </div>
                </article>
                <article>
                    <div class="article-header">
                        <div class="functionnality">
                            <div class="icon">
                                <img src="{{ asset('img/site/food.png') }}" width="54" height="54" 
                                 alt="Icône de gamelle pour animaux">
                            </div>
                            <h3>Entretien quotidien</h3>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div class="article-content">
                        <p>Dans cette espace, vous pouvez garder trace de nombreux éléments de l'entretien courant de votre chat : son alimentation, son hygiène (brossage, toilettage, entretien des griffes, nettoyage des yeux, des oreilles et des dents), mais aussi le nettoyage de sa litière.</p> 
                        <p>Vous pouvez également y prendre en note tout événement notable qui pourrait avoir une importance pour sa santé et servir d'indice à votre vétérinaire pour un éventuel diagnostic (vomissements, anorexie, diarrhée, altercation avec d'autres animaux, etc...)</p>
                    </div>
                </article>
                <article>
                    <div class="article-header">
                        <div class="functionnality">
                            <div class="icon">
                                <img src="{{ asset('img/site/heart.png') }}" width="54" height="54" 
                                 alt="Icône de coeur">
                            </div>
                            <h3>Suivi de santé</h3>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div class="article-content">
                        <p>Ceci est le "carnet de santé" à proprement parler. Vous pouvez y enregistrer toutes les informations importantes relatives à la santé de votre chat ainsi que ses antécédents.</p>
                        <p>Vous pouvez y noter les visites chez le vétérinaire ainsi que leur motif, ses allergies, ses maladies, ses blessures, ses résultats d'analyses et les éventuelles chirurgies subies.</p>
                    </div>
                </article>
                <article>
                    <div class="article-header">
                        <div class="functionnality">
                            <div class="icon">
                                <img src="{{ asset('img/site/medicine.png') }}" width="54" height="54" 
                                 alt="Icône de médicaments">
                            </div>
                            <h3>Suivi des soins médicaux</h3>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div class="article-content">
                        <p>Ici vous consignez tout ce qui est relatif aux soins de santé tels que les traitements médicaux, les vaccins, les détartrages ainsi que l'administration de vermifuges et d'antiparasitaires.</p>
                    </div>
                </article>
                <article>
                    <div class="article-header">
                        <div class="functionnality">
                            <div class="icon">
                                <img src="{{ asset('img/site/files.png') }}" width="54" height="54" 
                                 alt="Icône de documents">
                            </div>
                            <h3>Enregistrement de documents</h3>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div class="article-content">
                        <p>Dans la section Santé, vous avez la possibilité d'enregistrer tous les documents importants tels que les ordonnances, les résultats d'analyses et d'imageries médicales, des comptes-rendus médicaux, etc ...</p>
                        <p>Vous pouvez les télécharger à tout moment afin de les consulter.</p>
                    </div>
                </article>
                <article>
                    <div class="article-header">
                        <div class="functionnality">
                            <div class="icon">
                                <img src="{{ asset('img/site/share.png') }}" width="54" height="54" 
                                 alt="Icône de partage de fichiers">
                            </div>
                            <h3>Partage avec un vétérinaire</h3>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div  class="article-content">
                        <p>La fonctionnalité la plus importante de ce site : la partage de toutes les données concernant votre chat et enregistrées par vos soins, avec votre vétérinaire.</p>
                        <p>Pour se faire, rien de plus simple, il suffit de vous rendre sur la fiche de votre chat et de cliquer sur "Générer un code".</p>
                        <p>Le code fourni est à usage unique et doit être utilisé dans les 10 minutes. Il vous suffira de le communiquer à votre vétérinaire qui le saisira dans le champ prévu à cet effet sur la page d'accueil du site.</p>
                        <p>Il aura alors accès à la fiche de renseignements de votre chat ainsi qu'à chacune des sections décrites plus haut.</p>
                        <p>Cet accès se fait en lecture seule, il n'aura pas la possibilité de les modifier ou de les supprimer par mégarde.</p>
                        <p>Dès que le vétérinaire quittera l'espace de votre chat, le code d'accès sera invalidé et vous devrez en générer un nouveau pour lui redonner accès.</p>
                    </div>
                </article>
                <article>
                    <div class="article-header">
                        <div class="functionnality">
                            <div class="icon">
                                <img src="{{ asset('img/site/delete-data.png') }}" width="54" height="54" 
                                 alt="Icône de suppression de fichier">
                            </div>
                            <h3>Suppression des données</h3>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <div class="article-content">
                        <p>Vous avez la possibilité de supprimer chacune des données enregistrées dans les différentes sections.</p>
                        <p>Supprimer un chat, supprimera automatiquement TOUTES les données le concernant (y compris sa photo et ses documents).</p>
                        <p>Supprimer votre compte supprimera toutes les informations vous concernant, ainsi que tous les chats et leur données enregistrés.</p>
                        <p><em>Attention !</em> Ces actions sont irréversibles ! Nous n'avons absolument pas la possibilité de restaurer des données supprimées car nous n'y avons pas accès.</p>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h2 id="faq">F.A.Q</h2>
            <div class="articles">
                {% for faq in paginatedFAQ %}  
                <article>
                    <div class="article-header">
                        <div >
                            <h3>{{ faq.question }}</h3>
                        </div>
                        <div class="arrow"></div>
                    </div>
                    <p class="article-content">{{ faq.answer|nl2br }}</p>
                </article>
                {% endfor %}
                {{ knp_pagination_render(paginatedFAQ) }}
            </div>
        </section>
    </main>
    <script type="text/javascript" src="{{ asset('js/homepage/help.min.js') }}"></script>
{% endblock %}
