{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage/homepage.min.css') }}">
{% endblock %}

{% block body %}
<main>
    <div>
        {{ render(controller(
            'App\\Controller\\GuestSecurityController::guestLogin'
        ))}}
    </div>
    <div class="main-content">
        <div class="picture">
            <img src="{{ asset('img/site/cat-picture.jpg')}}" alt="Photo d'un chat se léchant la patte.">
        </div>
        <div class="description">
            <p> <img class="cat-picture" src="{{ asset('img/site/cat-picture.jpg')}}" alt="Photo d'un chat se léchant la patte."> <em class="intro-title">Le Charnet de Santé</em> est un carnet de santé en ligne <em>spécialisé pour les chats !</em></p> 
            <p>Totalement <em>gratuit et sécurisé</em>, il vous permettra <em>d'enregistrer et centraliser</em> toutes les informations importantes relatives à la <em>vie quotidienne, à la santé ou aux soins</em> apportés à votre chat.</p>
            <p>Vous pourrez également <em>stocker les documents importants</em> comme les ordonnances, les analyses et imageries médicales et <em>partager toutes ces informations avec votre vétérinaire</em>, en toute sécurité, afin de ne plus oublier les renseignements importants.</p>
        </div>
    </div>
    <div class="functionalities">
        <ul>
            <li>
                <div class="icon">
                    <img src="{{ asset('img/site/measure.png') }}" alt="Icône de mètre ruban">
                </div>
                <p class="desc">Enregistrez son poids et sa température et visualisez-les sur un graphique. Suivez ses cycles de reproduction.</p>
            </li>
            <li>
                <div class="icon">
                    <img src="{{ asset('img/site/heart.png') }}" alt="Icône de coeur">
                </div>
                <p class="desc">Suivi de son état de santé et de ses antécédents : allergies, maladies, blessures, chirurgie...</p>
            </li>
            <li>
                <div class="icon">
                    <img src="{{ asset('img/site/food.png') }}" alt="Icône de gamelle pour animaux">
                </div>
                <p class="desc">Entretien quotidien de votre chat : alimentation, toilettage, nettoyage des dents, yeux et oreilles. Enregistrez également les évènements notables.</p>
            </li>
                        <li>
                <div class="icon">
                    <img src="{{ asset('img/site/medicine.png') }}" alt="Icône de médicaments">
                </div>
                <p class="desc">Suivi des soins médicaux : traitements, vaccins, vermifuges, antiparasitaires,  détartrages.</p>
            </li>
            <li>
                <div class="icon">
                    <img src="{{ asset('img/site/files.png') }}" alt="Icône de documents">
                </div>
                <p class="desc">Gardez les documents importants sous la main. Stockez vos ordonnances, analyses et imageries médicales, comptes-rendus...</p>
            </li>
            <li>
                <div class="icon">
                    <img src="{{ asset('img/site/share.png') }}" alt="Icône de personnages">
                </div>
                <p class="desc">Partagez toutes ces informations avec votre vétérinaire, en toute sécurité.</p>
            </li>
        </ul>
    </div>
</main>
{% endblock %}
