{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Espace administeur{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/user-interface/user-interface.min.css') }}" >
{% endblock %}

{% block body %}
    <main>
        <section>
        <div class="item"> 
                <a href="{{ path('user-account') }}">
                    <img src="{{ asset('img/site/cat-head.png') }}" width="180" height="180" 
                    alt="Illustration de tête de chat indiquant un accès au compte administrateur">
                    <span>Mon compte</span>
                </a>
                <p>Gestion du compte administrateur</p>
            </div>
            <div class="item">
                <a href="{{ path('admin-users') }}">
                    <img src="{{ asset('img/site/cat-head.png') }}" width="180" height="180" 
                    alt="Illustration de tête de chat indiquant un accès à la gestion des utilisateurs">
                    <span>Utilisateurs</span>
                </a>
                <p>Gestion des utilisateurs et modification des rôles</p>
            </div>
            <div class="item"> 
                <a href="{{ path('admin-faq') }}">
                    <img src="{{ asset('img/site/cat-head.png') }}" width="180" height="180" 
                    alt="Illustration de tête de chat indiquant un accès à la gestion de la F.A.Q">
                    <span>F.A.Q</span>
                </a>
                <p>Gestion de la F.A.Q</p>
            </div>
        </section>
    </main>
{% endblock %}
