<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Aurélie Gilet">
        <meta name="description" content="Pouvoir facilement noter et partager avec votre vétérinaire tous les éléments importants de la vie quotidienne et de la santé de votre chat est désormais possible grace au Charnet de Santé, totalement gratuit et sécurisé !">
        <meta name="keywords" content="carnet de santé pour chat, carnet de santé en ligne, carnet de santé pour chat gratuit, santé du chat, suivi et soins du chat">
        <title>{% block title %}Bienvenue sur le Charnet de Santé{% endblock %}</title>
        <link rel="icon" type="image/x-icon" sizes="48x48" href="{{ asset('img/site/favicon/favicon.ico')}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('img/site/favicon/apple-touch-icon.png')}}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('img/site/favicon/favicon-32x32.png')}}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('img/site/favicon/favicon-16x16.png')}}">
        <link rel="preload" href="{{ asset('/fonts/MontserratAlternates-Regular.ttf') }}" as="font" type="font/ttf" crossorigin> 
        <link rel="preload" href="{{ asset('/fonts/Nunito-Regular.ttf') }}" as="font" type="font/ttf" crossorigin>
        <link rel="stylesheet" href="{{ asset('css/reset.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/partials/header.min.css') }}">
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% include 'partials/header.html.twig' %}

        {% block body %}{% endblock %}

        <button class="go-top-btn" id="top-btn">
            <img src="{{asset('img/site/top-arrow.png')}}" width="38" height="38" alt="Icône de flèche allant vers le haut" />
        </button>

        {% include 'partials/footer.html.twig' %}

        {% block javascripts %}
        <script type="text/javascript" src="{{ asset('js/base.min.js') }}"></script>
        <script type="text/javascript" src="{{ asset('js/partials/header.min.js') }}"></script>
        {% endblock %}
    </body>
</html>
