<div class="form-overlay">
    <div class="form-wrapper">
        <div class="close add-modal-close-btn">X</div>
        {{ form_start(measureForm) }}
            {{ form_row(measureForm.temperature) }}
            {{ form_row(measureForm.date) }}
            {{ form_row(measureForm._token) }}
            {{ form_row(measureForm.submit) }}
        {{ form_end(measureForm, {render_rest: false}) }}
    </div>
</div>
    