<div class="form-overlay">
    <div class="form-wrapper">
        <div class="close edit-modal-close-btn">X</div>
        {{ form_start(weightForm) }}
            {{ form_row(weightForm.weight) }}
            {{ form_row(weightForm.date) }}
            {{ form_row(weightForm._token) }}
            {{ form_row(weightForm.submit) }}
        {{ form_end(weightForm, {render_rest: false}) }}
    </div>
</div>