{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Température de {{ cat.name }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form-type.css') }}">
    <link rel="stylesheet" href="{{ asset('css/partials/cat-menu.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-data-pages.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-measures/cat-measures.css') }}" >
    {{ encore_entry_link_tags('chart-css') }}
{% endblock %}

{% block body %}
<main>
    {% include 'partials/message-modal.html.twig' %}

    {% include 'partials/cat-menu.html.twig' %} 

    <section>
        <div class="card">
            <div class="card-header">
                <div class="picture">
                    <img {% if cat.picture != null %} src="{{ asset('img/upload/' ~ cat.picture) }}" alt="Photo du chat {{ cat.name }}" class ="cat-picture" {% else %} src="{{ asset('img/site/cat-portrait2.png') }}" alt="Illustration portrait de chat" class="default-cat-picture" {% endif %}>
                </div>
                <div class="cat-name">
                    <h2>{{ cat.name }}</h2>
                    <a href="{{ path('cat-measures', {'id': cat.id}) }}" class="return">Retour aux mesures</a>
                </div>
            </div>
            <div class="card-content card-template">
                <div class="card-title">
                    <div class="icon">
                        <img src="{{ asset('img/site/thermometer.png') }}" alt="Icône d'un chat sur une balance">
                    </div>
                    <h3>Température</h3>
                </div>
                <span class="add-data mobile add-measure-btn"><img src="{{ asset('img/site/add.png') }}" alt="Icône du signe plus"></span>
                <span class="add-data desktop add-measure-btn">Ajouter une mesure</span>
            </div>
            <div class="card-content card-template chart-container">
                {{ render_chart(chart, {'class': 'chart'}) }}
            </div>
            <div class="card-content card-template measures last-measures">
            <h3>Dernières mesures :</h3>
            {% for measure in paginatedMeasures %}                
                <div class="measure card-template">
                    <div class="measure-info">
                        <p class="date">
                            <span>{{ measure.date|date('d') }}</span>
                            <span>{{ measure.date|format_datetime(locale='fr', pattern="MMM") }}</span>
                            <span>{{ measure.date|date('Y') }}</span>
                        </p>
                        <p class="data">{{ measure.temperature }} °C</p>
                    </div>
                    <div class="measure-options">
                        <div class="mobile-options">
                            <span class="edit-data edit-measure-btn" data-measure-id="{{ measure.id }}"><img src="{{ asset('img/site/edit.png') }}" alt="Icône d'un crayon"></span>
                            <span class="delete-data delete-measure-btn" data-measure-id="{{ measure.id }}"><img src="{{ asset('img/site/delete.png') }}" alt="Icône d'un crayon"></span>
                        </div>
                        <div class="desktop-options">
                            <span class="update-info desktop modify edit-measure-btn" data-measure-id="{{ measure.id }}">Modifier</span>
                            <span class="update-info desktop delete delete-measure-btn" data-measure-id="{{ measure.id }}">Supprimer</span>
                        </div>
                    </div>
                </div>
                <div id="edit-{{ measure.id }}"class="edit-measure-form">
                    {{ render(controller(
                        'App\\Controller\\CatMeasuresController::editTemperature',
                        { 'catId': cat.id, 'measureId': measure.id }
                    ))}}
                </div>
                <div id="delete-{{ measure.id }}"class="delete-measure-form">
                    {{ render(controller(
                        'App\\Controller\\CatMeasuresController::deleteTemperature',
                        { 'catId': cat.id, 'measureId': measure.id }
                    ))}}
                </div>
            {% endfor %}
            {{ knp_pagination_render(paginatedMeasures) }}
            </div>
        </div>
    </section>
    <div id="add-measure-form">
        {{ render(controller(
            'App\\Controller\\CatMeasuresController::addTemperature',
            { 'id': cat.id }
        ))}}
    </div>
</main>
<script type="text/javascript" src="{{ asset('js/cat-interface/cat-measures.js') }}"></script>
{{ encore_entry_script_tags('chart-js') }}
{% endblock %}