{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Poids de {{ cat.name }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form-type.css') }}">
    <link rel="stylesheet" href="{{ asset('css/partials/cat-menu.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-data-pages.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-measures/cat-measures-weight.css') }}" >
    {{ encore_entry_link_tags('chart-css') }}
{% endblock %}

{% block body %}
<main>
    {% include 'partials/message-modal.html.twig' %}

    {% include 'partials/cat-menu.html.twig' %} 

    <section>
        <div class="card">
            <div class="card-header">
                <div class="picture">
                    <img {% if cat.picture != null %} src="{{ asset('img/upload/' ~ cat.picture) }}" alt="Photo du chat {{ cat.name }}" class ="cat-picture" {% else %} src="{{ asset('img/site/cat-portrait2.png') }}" alt="Illustration portrait de chat" class="default-cat-picture" {% endif %}>
                </div>
                <div class="card-title">
                    <h2>{{ cat.name }}</h2>
                    <a href="{{ path('cat-measures', {'id': cat.id}) }}" class="return">Retour aux mesures</a>
                </div>
            </div>
            <div class="card-content card-template">
                <div class="left-side">
                    <div class="icon">
                        <img src="{{ asset('img/site/weight.png') }}" alt="Icône d'un chat sur une balance">
                    </div>
                    <h3>Poids</h3>
                </div>
                <span class="add-data mobile add-weight"><img src="{{ asset('img/site/add.png') }}" alt="Icône du signe plus"></span>
                <span class="add-data desktop add-weight">Ajouter une mesure</span>
            </div>
            <div class="card-content card-template chart-container">
                {{ render_chart(chart, {'class': 'chart'}) }}
            </div>
            <div class="card-content card-template measures">
            {% for measure in paginatedMeasures %}                
                <div class="measure card-template">
                    <div class="measure-info">
                        <p class="date">
                            <span>{{ measure.date|date('d') }}</span>
                            <span>{{ measure.date|format_datetime(locale='fr', pattern="MMM") }}</span>
                            <span>{{ measure.date|date('Y') }}</span>
                        </p>
                        <p class="data">{{ measure.weight }} Kg</p>
                    </div>
                    <div class="measure-options">
                        <div class="mobile-options">
                            <span class="edit-data edit-weight-btn" data-measure-id="{{ measure.id }}"><img src="{{ asset('img/site/edit.png') }}" alt="Icône d'un crayon"></span>
                            <span class="delete-data delete-weight-btn" data-measure-id="{{ measure.id }}"><img src="{{ asset('img/site/delete.png') }}" alt="Icône d'un crayon"></span>
                        </div>
                        <div class="desktop-options">
                            <span class="update-info desktop modify edit-weight-btn" data-measure-id="{{ measure.id }}">Modifier</span>
                            <span class="update-info desktop delete delete-weight-btn" data-measure-id="{{ measure.id }}">Supprimer</span>
                        </div>
                    </div>
                </div>
                <div id="edit-{{ measure.id }}"class="edit-weight-form">
                    {{ render(controller(
                        'App\\Controller\\CatMeasuresController::editWeight',
                        { 'catId': cat.id, 'weightId': measure.id }
                    ))}}
                </div>
                <div id="delete-{{ measure.id }}"class="delete-weight-form">
                    {{ render(controller(
                        'App\\Controller\\CatMeasuresController::deleteWeight',
                        { 'catId': cat.id, 'weightId': measure.id }
                    ))}}
                </div>
            {% endfor %}
            {{ knp_pagination_render(paginatedMeasures) }}
            </div>
        </div>
    </section>
    <div id="add-weight-form">
        {{ render(controller(
            'App\\Controller\\CatMeasuresController::addWeight',
            { 'id': cat.id }
        ))}}
    </div>
</main>
<script type="text/javascript" src="{{ asset('js/cat-interface/cat-measures.js') }}"></script>
{{ encore_entry_script_tags('chart-js') }}
{% endblock %}