{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Poids de {{ cat.name|capitalize }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form-type.css') }}">
    <link rel="stylesheet" href="{{ asset('css/partials/cat-menu.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-pages-shared-style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-data-pages.css') }}">
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-forms.css') }}">
    {{ encore_entry_link_tags('chart-css') }}
{% endblock %}

{% block body %}
<main>
    {% include 'partials/message-modal.html.twig' %}

    {% include 'partials/cat-menu.html.twig' %} 

    <section>
        <div class="card">
            <div class="card-header">
                <div class="picture">
                    <img {% if cat.picture != null %} src="{{ asset('img/upload/' ~ cat.picture) }}" alt="Photo du chat {{ cat.name|capitalize }}" class ="cat-picture" {% else %} src="{{ asset('img/site/cat-portrait2.png') }}" alt="Illustration portrait de chat" class="default-cat-picture" {% endif %}>
                </div>
                <div class="cat-name">
                    <h2>{{ cat.name|capitalize }}</h2>
                    <a href="{{ path('cat-measures', {'id': cat.id}) }}" class="return">Retour aux mesures</a>
                </div>
            </div>
            <div class="card-content card-template">
                <div class="card-title">
                    <div class="icon">
                        <img src="{{ asset('img/site/weight.png') }}" alt="Icône d'un chat sur une balance">
                    </div>
                    <h3>Poids</h3>
                </div>
                <span class="add-data mobile add-edit-data-btn" data-data-id="new"><img src="{{ asset('img/site/add.png') }}" alt="Icône du signe plus"></span>
                <span class="add-data desktop add-edit-data-btn" data-data-id="new">Ajouter une mesure</span>
            </div>
            <div class="card-content card-template chart-container">
                {{ render_chart(chart, {'class': 'chart'}) }}
            </div>
            <div class="card-content card-template entries last-entries">
            <h3>Dernières mesures :</h3>
            <div class="tooltip">
                <div id="help-content" class="hide">
                    <p>Peser son chat régulièrement est important car cela permet de s'assurer que son alimentation est adaptée et peut vous avertir d'un problème de santé.</p>
                    <p>Pour se faire, rien de plus simple : pesez-vous d'abord seul, puis avec votre chat dans les bras, et faites la différence !</p>
                    <p>Si vous n'avez pas de balance, tous les vétérinaires en ont une en libre service dans leur cabinet.</p>
                </div>
                <div id="help-icon">
                    <img src="{{ asset('img/site/help-purple.png') }}" alt="Icône d'aide" id="help-purple" class="show">
                    <img src="{{ asset('img/site/help-white.png') }}" alt="Icône d'aide" id="help-white" class="hide">
                </div>
            </div>
            {% for measure in paginatedMeasures %}                
                <div class="entry card-template">
                    <div class="entry-info">
                        <p class="date">
                            <span>{{ measure.date|date('d') }}</span>
                            <span>{{ measure.date|format_datetime(locale='fr', pattern="MMM") }}</span>
                            <span>{{ measure.date|date('Y') }}</span>
                        </p>
                        <p class="data">{{ measure.weight }} Kg</p>
                    </div>
                    <div>
                        <div class="mobile-options">
                            <span class="edit-data add-edit-data-btn" data-data-id="{{ measure.id }}"><img src="{{ asset('img/site/edit.png') }}" alt="Icône d'un crayon"></span>
                            <span class="delete-data delete-data-btn" data-data-id="{{ measure.id }}"><img src="{{ asset('img/site/delete.png') }}" alt="Icône d'une poubelle"></span>
                        </div>
                        <div class="desktop-options">
                            <span class="update-info desktop modify add-edit-data-btn" data-data-id="{{ measure.id }}">Modifier</span>
                            <span class="update-info desktop delete delete-data-btn" data-data-id="{{ measure.id }}">Supprimer</span>
                        </div>
                    </div>
                </div>
                <div id="edit-{{ measure.id }}"class="add-edit-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatMeasuresController::editWeight',
                        { 'catId': cat.id, 'measureId': measure.id }
                    ))}}
                </div>
                <div id="delete-{{ measure.id }}"class="delete-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatMeasuresController::deleteMeasure',
                        { 'catId': cat.id, 'measureId': measure.id }
                    ))}}
                </div>
            {% endfor %}
            {{ knp_pagination_render(paginatedMeasures) }}
            </div>
        </div>
    </section>
    <div id="edit-new" class="add-edit-data-form">
        {{ render(controller(
            'App\\Controller\\CatMeasuresController::addWeight',
            { 'id': cat.id }
        ))}}
    </div>
</main>
<script type="text/javascript" src="{{ asset('js/cat-interface/cat-care-pages.js') }}"></script>
{{ encore_entry_script_tags('chart-js') }}
{% endblock %}