{% extends 'base.html.twig' %}

{% block title %}Le Charnet de Santé - Chaleurs de {{ cat.name }} {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/form-type.css') }}">
    <link rel="stylesheet" href="{{ asset('css/partials/cat-menu.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-pages-shared-style.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-measures.css') }}" >
    <link rel="stylesheet" href="{{ asset('css/cat-interface/cat-care-pages/cat-care-forms.css') }}">
    {{ encore_entry_link_tags('chart-css') }}
{% endblock %}

{% block body %}
<main>
    {% include 'partials/message-modal.html.twig' %}

    {% include 'partials/cat-menu.html.twig' %} 

    <section>
        <div class="card">
            <div class="card-header">
                <div class="picture">
                    <img {% if cat.picture != null %} src="{{ asset('img/upload/' ~ cat.picture) }}" alt="Photo du chat {{ cat.name }}" class ="cat-picture" {% else %} src="{{ asset('img/site/cat-portrait2.png') }}" alt="Illustration portrait de chat" class="default-cat-picture" {% endif %}>
                </div>
                <div class="cat-name">
                    <h2>{{ cat.name }}</h2>
                    <a href="{{ path('cat-measures', {'id': cat.id}) }}" class="return">Retour aux mesures</a>
                </div>
            </div>
            <div class="card-content card-template">
                <div class="card-title">
                    <div class="icon">
                        <img src="{{ asset('img/site/heat.png') }}" alt="Icône d'un chat sur une balance">
                    </div>
                    <h3>Chaleurs</h3>
                </div>
                <span class="add-data mobile add-edit-data-btn" data-data-id="new"><img src="{{ asset('img/site/add.png') }}" alt="Icône du signe plus"></span>
                <span class="add-data desktop add-edit-data-btn" data-data-id="new">Ajouter une mesure</span>
            </div>
            {% if currentMeasures is not empty %}
            <div class="card-content card-template measures current-measures">
                <h3>Chaleur en cours :</h3>
                {% for measure in paginatedCurrentMeasures %}              
                <div class="measure card-template">
                    <div class="measure-info heat">
                        <p class="date heat">
                            <span>Du : <em>{{ measure.date|format_datetime(locale='fr', pattern="dd MMM Y")}}</em></span>
                            <span>Au : <em>{% if measure.heatEndDate is not null %}{{ measure.heatEndDate|format_datetime(locale='fr', pattern="dd MMM Y")}}{% else %}
                                En cours{% endif %}</em></span>
                        </p>
                        <p class="data heat">
                            <span>Saillie : {% if measure.isMated is null %}...{% elseif measure.isMated == true %}<em>Oui</em>{% else %}<em>Non</em>{% endif %}</span>
                            <span>Fécondation : {% if measure.isPregnant is null %}...{% elseif measure.isPregnant == true %}<em>Oui</em>{% else %}<em>Non</em>{% endif %}</span>
                        </p>
                    </div>
                    <div class="measure-options">
                        <div class="mobile-options heat">
                            <span class="edit-data add-edit-data-btn" data-data-id="{{ measure.id }}"><img src="{{ asset('img/site/edit.png') }}" alt="Icône d'un crayon"></span>
                            <span class="delete-data delete-data-btn" data-data-id="{{ measure.id }}"><img src="{{ asset('img/site/delete.png') }}" alt="Icône d'un crayon"></span>
                        </div>
                        <div class="desktop-options">
                            <span class="update-info desktop modify add-edit-data-btn" data-data-id="{{ measure.id }}">Modifier</span>
                            <span class="update-info desktop delete delete-data-btn" data-data-id="{{ measure.id }}">Supprimer</span>
                        </div>
                    </div>
                </div>
                <div id="edit-{{ measure.id }}"class="add-edit-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatMeasuresController::editHeat',
                        { 'catId': cat.id, 'measureId': measure.id }
                    ))}}
                </div>
                <div id="delete-{{ measure.id }}"class="delete-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatMeasuresController::deleteMeasure',
                        { 'catId': cat.id, 'measureId': measure.id }
                    ))}}
                </div>
                {% endfor %}
                {{ knp_pagination_render(paginatedCurrentMeasures) }}
            </div>
            {% endif %}
            <div class="card-content card-template measures last-measures">
                <h3>Dernières mesures :</h3>
                <div class="tooltip">
                    <div id="help-content" class="hide">
                        <p>L'âge de la puberté chez les mâles se situe entre 7 et 12 mois et chez les femelles entre 6 et 12 mois (selon les races et la date de naissance).</p>
                        <p>La période des chaleurs s'étend de février à septembre.</p>
                        <p>Si une chatte n'est pas saillie, les chaleurs durent 8 à 12 jours et reprennent tous les 15 jours.</p>
                        <p>Si la saillie n'est pas fécondante, la chatte revient en chaleur au bout d'1 mois.</p>
                        <p>Sinon, la gestation dure 2 mois et la chatte retourne en chaleur 1 mois après la mise bas.</p>
                        <p>Une chatte en chaleur voit son comportement changer : elle est très affectueuse et câline, se roule ou se frotte au sol, perd l'appétit, néglige ses besoins et produit des miaulements rauques.</p>
                        <p>Des chaleurs répétées sont extrêmement stressantes physiquement et mentalement pour la chatte, surtout si elle n'est pas saillie et peuvent être détrimentaires pour sa santé.</p>
                        <p>Si votre animal n'est pas un reproducteur, pensez à la stérilisation pour le bien-être et la santé de votre chat.</p>
                    </div>
                    <div id="help-icon">
                        <img src="{{ asset('img/site/help-purple.png') }}" alt="Icône d'aide" id="help-purple" class="show">
                        <img src="{{ asset('img/site/help-white.png') }}" alt="Icône d'aide" id="help-white" class="hide">
                    </div>
                </div> 
                {% for measure in paginatedMeasures %}                
                <div class="measure card-template">
                    <div class="measure-info heat">
                        <p class="date heat">
                            <span>Du : <em>{{ measure.date|format_datetime(locale='fr', pattern="dd MMM Y")}}</em></span>
                            <span>Au : <em>{{ measure.heatEndDate|format_datetime(locale='fr', pattern="dd MMM Y")}}</em></span>
                        </p>
                        <p class="data heat">
                            <span>Saillie : {% if measure.isMated is null %} {% elseif measure.isMated == true %} <em>Oui</em> {% else %} <em>Non</em> {% endif %}</span>
                            <span>Fécondation : {% if measure.isPregnant is null %} {% elseif measure.isPregnant == true %} <em>Oui</em> {% else %} <em>Non</em> {% endif %}</span>
                        </p>
                    </div>
                    <div class="measure-options">
                        <div class="mobile-options heat">
                            <span class="edit-data add-edit-data-btn" data-data-id="{{ measure.id }}"><img src="{{ asset('img/site/edit.png') }}" alt="Icône d'un crayon"></span>
                            <span class="delete-data delete-data-btn" data-data-id="{{ measure.id }}"><img src="{{ asset('img/site/delete.png') }}" alt="Icône d'un crayon"></span>
                        </div>
                        <div class="desktop-options">
                            <span class="update-info desktop modify add-edit-data-btn" data-data-id="{{ measure.id }}">Modifier</span>
                            <span class="update-info desktop delete delete-data-btn" data-data-id="{{ measure.id }}">Supprimer</span>
                        </div>
                    </div>
                </div>
                <div id="edit-{{ measure.id }}"class="add-edit-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatMeasuresController::editHeat',
                        { 'catId': cat.id, 'measureId': measure.id }
                    ))}}
                </div>
                <div id="delete-{{ measure.id }}"class="delete-data-form">
                    {{ render(controller(
                        'App\\Controller\\CatMeasuresController::deleteMeasure',
                        { 'catId': cat.id, 'measureId': measure.id }
                    ))}}
                </div>
                {% endfor %}
                {{ knp_pagination_render(paginatedMeasures) }}
            </div>
        </div>
    </section>
    <div id="edit-new" class="add-edit-data-form">
        {{ render(controller(
            'App\\Controller\\CatMeasuresController::addHeat',
            { 'id': cat.id }
        ))}}
    </div>
</main>
<script type="text/javascript" src="{{ asset('js/cat-interface/cat-care-pages.js') }}"></script>
{{ encore_entry_script_tags('chart-js') }}
{% endblock %}